<%= provide(:form_title, "Create new action") %>
<%= provide(:btn, "Create my action!") %>

<% if user_logged_in? %>

  <%= render 'actionposts/actionposts_form' %>

  <div class="home-content">
    <div class="row">
      <div class="col-12">
        <% unless @recentposts.nil? %>
          <h1 class="text-center">recent posts</h1>
          <% @recentposts.each do |recentpost| %>
            <% unless recentpost.id.nil? %>
              <%= link_to actionpost_path(recentpost) do %>
                <div class="card bg-info mb-5">
                  <div class="card-header"><%= recentpost.title %></div>
                  <div class="card-body">
                    <p class="card-text"><%= recentpost.action %></p>
                    <p class="card-text"><%= recentpost.created_at %></p>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

<% else %>

  <div class="non_signin">
    <div class="heading">
      <h1 class="text-center">Don't just reading books,</h1>
      <h2 class="text-center">Write your action with using books.</h2>
    </div>

    <div class="btns">
      <%= link_to 'Sign up', signup_path, class: "btn btn-primary" %>
      <p class="text-center">or</p>
      <%= link_to 'Log in', login_path, class: "btn btn-primary" %>
    </div>
  </div>

<% end %>