<%= provide(:form_title, "Create new action") %>
<%= provide(:btn, "Create my action!") %>

<% if user_logged_in? %>

  <%= render 'actionposts/actionposts_form' %>

<% else %>

  <div class="non_signin">
    <div class="heading">
      <h1 class="text-center">Don't just reading books,</h1>
      <h2 class="text-center">Write your action with using books.</h2>
    </div>

    <div class="btns">
      <%= link_to 'Sign up', signup_path, class: "btn btn-primary" %>
      <p class="text-center">or</p>
      <%= link_to 'Log in', login_path, class: "btn btn-primary" %>
    </div>
  </div>

<% end %>