<%= provide(:form_title, "Create new action") %>
<%= provide(:btn, "Create my action!") %>

<% if user_logged_in? %>

  <%= render 'actionposts/actionposts_form' %>

<% else %>

  <div class="non_signin">
    <%= link_to 'Log in', login_path, class: "nav-link" %>
    or
    <%= link_to 'Sign up', signup_path, class: "nav-link" %>
  </div>

<% end %>